/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'OpenSans';
}

@font-face {
	font-family: "OpenSans";
	src: url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("woff2-variations");
 	font-display: swap;
}